#search {
    margin: 0;
}

.topline {
    color: rgb(123, 148, 158)
}

#search h4 {
    align-items: center;
    text-shadow: 2rem;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


/* When the input field gets focus, change its width to 100% */

input[type=text]:focus {
    width: 100%;
}